

# IntelliJ project files
.idea
*.iml
out
gen### Gradle template
.gradle

/cloudbuild.yaml
/gradlew
/gradlew.bat
/README.md
/settings.gradle
/.gitignore
/build.gradle
/gradle/
/src/
/.gradle/
/build/classes/
/build/reports/
/build/resources/
/build/test-results/
/build/tmp/
